{{> cabecera }}

{{> navbar }}
    
<div class="row">

    <div class="col-8">

        <h1>Empanada de pescado</h1>

        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim totam reprehenderit fugit sunt asperiores laudantium iste delectus ipsa amet. Soluta velit modi culpa labore quas nostrum. Dicta numquam impedit placeat?</p>

    </div>

    <div class="col-4">

        <img src="/public/assets/img/empanada_pescado.jpg" class="img-thumbnail">

    </div>

</div>

{{> footer }}